<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
	  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://123.206.213.14:3306/maven_db</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">110292</property>
		<mapping resource="com/shikun/User.hbm.xml"/>

	</session-factory>
</hibernate-configuration>